h1 {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline;
}

.btn {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}