<table>
    <tr id="firstRow">
        <td>lp</td>
        <td>username</td>
        <td>password</td>
    </tr>
    {{#each users}}
    <tr>
        <td id="lp">{{lp}}</td>
        <td>{{name}}</td>
        <td>{{password}}</td>
    </tr>
    {{/each}}
</table>