<div style="height: 100%;">
    <h1 style="color: red; font-size: 15em; display: flex; justify-content:center; align-items:center;">ERROR</h1>
    <p style="color: black; font-size: 2em; text-align:center">{{error}}</p>
</div>