<div class="cookieDiv">
    <h1 style="margin: 20px; font-size: xxx-large;">Login Page</h1>
    <form action="/login" method="post">
        <input type="text" name="username" id="" placeholder="Enter name">
        <input type="password" name="pass" id="" placeholder="Enter pass">
        <input type="submit" id="buttonik" value="zaloguj">
    </form>
    <div style="margin: 20px;">
        <p style="text-align: center; font-size: larger;">Nie masz konta?</p>
        <div id="buttonik">
            <a href="/register">zarejestruj się</a>
        </div>
    </div>
</div>