<div class="cookieDiv">
    <h1 style="margin: 20px; font-size: xxx-large;">Register Page</h1>
    <form action="/register" method="post">
        <input type="text" name="username" id="" placeholder="Enter name">
        <input type="password" name="pass" id="" placeholder="Enter pass">
        <input type="password" name="passConfirm" id="" placeholder="Confirm pass">
        <input type="submit" id="buttonik" value="zarejestruj">
    </form>
    <div style="margin: 20px;">
        <p style="text-align: center; font-size: larger;">Masz już konto?</p>
        <a href="/login">zaloguj się</a>
    </div>
</div>