<div id="main">
    <div id="leftContainer">
        <p>filemanager</p>
    </div>
    <div id="rightContainer">
        <h1>UPLOAD</h1>
        <form enctype="multipart/form-data" action="/upload" method="POST">
            <input type="file" multiple required name="image" value="Wybierz plik">
            <button type="submit">UPLOAD</button>
        </form>
    </div>
</div>
